<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/nx/j2ee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.4">
  <servlet>
    <servlet-name>Generate Catalog</servlet-name>
    <servlet-class>com.notes.servlet.GetNotesIndex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Generate Catalog</servlet-name>
    <url-pattern>/GetCatalog.fun</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>File Add</servlet-name>
    <servlet-class>com.servlet.AddNewFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>File Add</servlet-name>
    <url-pattern>/AddFile.fun</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Document Comment</servlet-name>
    <servlet-class>com.servlet.DealDocumentAndComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Document Comment</servlet-name>
    <url-pattern>/DocumentAndComment.fun</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Web Search</servlet-name>
    <servlet-class>com.servlet.WebSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Web Search</servlet-name>
    <url-pattern>/FindSource.fun</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <jsp-property-group>
      <description>html encoding</description>
      <display-name>JSPConfiguration</display-name>
      <url-pattern>*.html</url-pattern>
      <el-ignored>true</el-ignored>
      <page-encoding>UTF-8</page-encoding>
    </jsp-property-group>
  </jsp-config>
</web-app>